.cart-items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  margin: 10px;
  border-radius: 5px;
}
.cart-image {
  height: 200px;
  width: 200px;
  margin: 30px;
  border-radius: 5px;
}
