/* .main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
} */
.home-container {
  display: flex;
  padding: 10px;
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  .home-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.home-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  width: 70%;
}
.display-card {
  width: 30%;
}

.plant {
  padding-left: 150px;
}
.image {
  height: 600px;
  width: 700px;
}
.clicked-area {
  filter: invert(100%);
}
h1 {
  color: green;
}
.image-animation {
  animation: 10s linear 0s infinite alternate move;
}
@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 0);
  }
  50% {
    transform: translate(10px, 10px);
  }
  75% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.area-container {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.area-overlay {
  position: absolute;
  width: 200%;
  height: 10px;
  background-color: #b9d965;
  transform-origin: top left;
}

.area-container.selected .area-overlay {
  background-color: #4b7402;
}
.area0 {
  position: absolute;
  top: 2%;
  left: 15%;
}
.area1 {
  position: absolute;
  top: 4%;
  left: 28%;
}
.area2 {
  position: absolute;
  top: 32%;
  left: 12%;
}
.area3 {
  position: absolute;
  top: 16%;
  left: 53%;
  rotate: 34deg;
}
.area4 {
  position: absolute;
  top: 19%;
  left: 36%;
}
.area5 {
  position: absolute;
  top: -4%;
  left: 51%;
  rotate: 3deg;
}
