.plant-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.plant-details-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
}

.plant-d {
  width: 86%;
  height: 20%;
}
