.product-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 50px;
  width: 100%;
}
.product-details-card {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-card {
  display: flex;
  align-items: center;
}
.cart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cart-display-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.checkout-card {
  margin-top: 50px;
  text-align: center;
}
.pincode-check{
  font-size: 10px;
}
.sinlge-buy-card{
  display: flex;
  justify-content: center;
  align-items: center;
}