.products-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
}
.product-image {
  height: 200px;
  width: 200px;
  margin: 30px;
  transition: transform 0.3s;
  cursor: pointer;
}
.product-image:hover{
  transform: scale(1.1);

}
.card-body {
  align-self: center;
}
.banner-card {
  background-image: url("../banner5.png");
  height: 200px;
  width: 1000px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.banner {
  width: 800px;
}
