.navbar {
  display: flex;
  justify-content: space-between;
  background-color: green;
  width: 100%;
}
.cart-heading-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* @media screen and (max-width: 450px) {
  .cart-heading-card {
    flex-direction: column;
  }
} */
.logo {
  margin-left: 20px;
  margin-right: 20px;
  height: 100px;
  width: 100px;
}
.heading-card {
  padding: 20px;
  background-color: white;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  text-align: center;
}
.heading {
  color: green;
  font-size: 15px;
}
.cart-icon {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  position: relative;
  margin: 10px;
}
.quantity {
  position: absolute;
  color: green;
  top: 8px;
  right: 60px;
}
